@charset "UTF-8";

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0 0;
  list-style: none;
}

h1 {
  margin: 0;
}

.wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
}

.header-wrap {
  width: 52.08%; /*1000px*/
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.header-wrap__logo {
  margin: 1em;
}
nav {
  width: 72%; /*720px*/
}
.nav-wrap {
  display: flex;
  justify-content: space-around;
  height: 50%;
  margin: 1em;
  padding: 0 3%;
  background-color: #efece8;
  border-radius: 4em;
}
.nav-wrap > li {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.8em;
}
.nav-wrap > li a {
  display: block;
  color: #61605c;
}
.nav-wrap > li a:hover {
  color: #020202;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #eae8e2;
}

.article__inner {
  width: 30%;
  text-align: center;
  margin-bottom: 50px;
}

.article__boxDeco {
  width: 50%;
  position: relative;
  top: 10px;
}

.article__boxTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #f6f6f4;
  background-color: #847d74;
}

.article__boxList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  margin: 0;
  box-shadow: 0 0 20px #9e9e9e;
  background-color: white;
}

.boxList__labelSchoolNumber {
  font-size: 1.125rem;
  font-weight: bold;
}

.boxList__inputSchoolNumber {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #9e9e9e;
}

.boxList__inputSchoolNumber:focus {
  outline: none;
  box-shadow: 0px 0px 2px #9e9e9e;
}

.article__boxList label,
.article__boxList input,
.article__boxList button {
  margin: 10px;
}

.boxList__schoolName {
  font-size: 0.8125rem;
  color: #847d74;
}

.boxList__schoolName1 {
  margin-top: 20px;
}

.boxList__schoolName--emp {
  font-weight: bold;
}

.boxList__submitButton {
  display: inline-block;
  margin-top: 8px;
  padding: 6px 12px;
  text-align: center;
  transition: padding 0.4s;
  background-color: #847d74;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.boxList__submitButton:hover {
  outline: none;
  padding: 8px 16px;
  transition: padding 0.2s;
  font-size: 1.063rem;
}

.boxList__inputSchoolNumber:focus::placeholder {
  color: transparent;
}

footer {
  background-color: #c1c1c1;
  margin: -22px 0;
}

.footer__info {
  width: 52.08%;
  margin: 0 auto;
  color: white;
}
.footer__info-wrap {
  display: flex;
  justify-content: space-between;
}

.footer__info-CBU {
  margin: 1.5em 0;
  font-size: 0.82em;
}
.footer__info-staffs {
  margin: 0.5em;
  font-size: 0.7em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-wrap {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .nav-wrap > li {
    font-size: 0.6em;
  }

  .article {
    height: 600px;
  }

  .article__inner {
    width: 40%;
    margin-bottom: 50px;
  }

  .article__boxDeco {
    top: 10px;
  }

  .article__boxTitle {
    height: 80px;
  }

  .article__boxTitle h1 {
    font-size: 1.313rem;
  }

  .article__boxList {
    height: 320px;
    margin: 0;
  }

  .boxList__labelSchoolNumber {
    font-size: 1.125rem;
  }

  .boxList__inputSchoolNumber {
    width: 50%;
  }
  .footer__info {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .header-wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .header-wrap__logo {
    display: none;
  }
  .header-wrap__logo-mobile {
    margin: 1em;
  }
  .nav-wrap-mobile {
    display: flex;
    width: 150px;
    justify-content: flex-start;
    margin: 1em;

    font-size: 1.5em;
    color: #53504b;
    cursor: pointer;
    float: left;
  }

  .nav-wrap-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(255, 252, 247);
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    padding-top: 60px;
  }
  .nav-wrap-sidenav a {
    padding: 15px 11px 11px 42px;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    width: 60%;
    margin: 0 auto;
    font-size: 21px;
    color: dimgray;
    display: block;
    transition: 0.2s ease-in-out;
  }
  .nav-wrap-sidenav a:first-child {
    border-bottom: none;
    color: black;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: -120px;
    font-size: 26px !important;
    margin-left: 0px;
  }
  .article {
    width: 100%;
    height: 500px;
  }

  .article__inner {
    width: 70%;
    margin-bottom: 50px;
  }

  .article__boxDeco {
    top: 10px;
  }

  .article__boxTitle {
    height: 60px;
    color: white;
    background-color: #847d74;
  }

  .article__boxTitle h1 {
    font-size: 1.125rem;
  }

  .article__boxList {
    height: 250px;
    margin: 0;
    box-shadow: 0 0 20px #9e9e9e;
    background-color: white;
  }

  .boxList__labelSchoolNumber {
    font-size: 1rem;
    font-weight: bold;
  }

  .boxList__inputSchoolNumber {
    padding: 2.5px;
  }

  .boxList__inputSchoolNumber:focus {
    outline: none;
    box-shadow: 0px 0px 2px #9e9e9e;
  }

  .article__boxList label,
  .article__boxList input,
  .article__boxList button {
    margin: 8px;
  }

  .boxList__schoolName {
    font-size: 0.6875rem;
    color: #847d74;
  }

  .boxList__schoolName1 {
    margin-top: 20px;
  }

  .boxList__submitButton {
    padding: 4px 8px;
    transition: padding 0.1s;
    font-size: 0.875rem;
  }

  .boxList__submitButton:hover {
    padding: 5px 10px;
    transition: padding 0.1s;
    font-size: 1rem;
  }
  .boxList__inputSchoolNumber {
    width: 70%;
  }
  .footer__info {
    width: 95%;
    height: 220px;
    margin: 0 auto;
    display: flex;
  }
  .footer_mobile {
    display: none;
  }

  .footer__info {
    display: block;
    margin: 0;
  }
  .footer__info-CBU {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 15px;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .footer__info-staffs-mobile {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 600;
  }
  .footer__info-wrap {
    display: block;
    padding-top: 50px;
  }
  .footer__info-logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .footer_info-mobile {
    padding: 0 0.5em;
  }
}
