header {
    background-color: white;
    display: flex;
    align-items: center;
}

.header-wrap{
    width: 52.08%; /*1000px*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.header-wrap__logo{
    margin: 1em;
}

@media all and (min-width: 768px) and (max-width: 1200px) {
    .header-wrap {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

    }
}
@media all and (max-width: 767px) {

    .header-wrap {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    }

    .header-wrap__logo {
        display: none;
    }

    .header-wrap__logo-mobile {
        margin: 1em;
    }
}