
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--footerFragment 선언-->
<footer th:fragment="footerFragment">
      발! 발!
      <div class="footerImage" onclick="location.href='https://velog.io/@phjppo0918'">
        <img src="https://img.icons8.com/nolan/64/note.png"/>
      </div>
      <div class="footerImage" onclick="location.href='https://www.facebook.com/profile.php?id=100004230870346'"><img src="https://img.icons8.com/nolan/64/facebook-new.png"/></div>
      <div class="footerImage" onclick="location.href='https://github.com/phjppo0918'"><img src="https://img.icons8.com/nolan/64/github.png"/></div>
      <div class="footerImage" onclick="location.href='https://www.instagram.com/parkhyeonjun_rptp/'"><img src="https://img.icons8.com/nolan/64/instagram-new.png"/></div>


</footer>

</html>