@font-face {
  font-family: "NotoKrB";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url(../fonts/NotoSansKR-Bold.eot);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.mobile {
  display: none;
}

@media all and (max-width: 767px) {
  .mobile {
    display: block;
  }
  .nav-wrap {
    display: none;
  }
}
