main{
    background-color: #EFECE8;
}
.main_wrap{
    width: 52.08%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 15px 0px 20px -5px rgba(190,190,190,1), -15px 0px 20px -5px rgba(190,190,190,1);
}
.main__title-wrap{
    display: flex;
    justify-content: space-between;
    padding: 2em 4em 0em;
}

.main__title > h2{
    margin: 0;
    color: #424043;
    padding-bottom: 0.1em;
    border-bottom:solid 2px #424043; 
}
.main__search-wrap{
    display: flex;
    height: 30px;                 
    border: solid 2px #c1c1c1;
}
.main__search{
    display: flex;
 
}
select{
    border: 0;
}

#search{
    border: none;
    width: 10em;
}

.main__serach-button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.main__serach-button > i{
    color: #c1c1c1;
    font-size: 1.2em;
}

.main__studyPlan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

}

.main__studyPlan-button a{
  
    padding: 1em 1.2em;
    background-color: white;
    border:1px solid #ebebeb;
    box-shadow:   3px 3px 8px rgba(150,150,150,1);
    border-radius: 0.8em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: #333333;
   
}

.main__studyPlan-button a:hover{
   color: rgb(135, 135, 135);
}

.main__studyPlan-work-button a{
    margin: 2em;
    padding: 1em 1.9em;
    background-color: white;
    border:1px solid #ebebeb;
    border-radius: 0.8em;
    box-shadow:   3px 3px 8px rgba(150,150,150,1);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: #333333;
    
}
.main__studyPlan-work-button a:hover{
    color: rgb(135, 135, 135);
}
.far{
    margin-right: 0.5em;
    font-size: 1em;
}

@media all and (min-width:768px) and (max-width:1023px){

    .main_wrap{
        width: 60%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 15px 0px 20px -5px rgba(190,190,190,1), -15px 0px 20px -5px rgba(190,190,190,1);
    }
    .main__title-wrap{
        display: flex;
        justify-content: space-between;
        padding: 2em 3em 2.7em 3em;
    }
    .main__title-top > h2{
        margin: 0;
        color: #424043;
        padding-bottom: 0.1em;
        border-bottom:solid 2px #424043; 
        font-size: 1.3em;
    }
    .main__search{
        display: flex;
        
    }
    #search{
        border: none;
        width: 8em;
    }

    .main__serach-button{
        border: none;
        background-color: white;
        cursor: pointer;
    }

    .main__serach-button > i{
        color: #c1c1c1;
        font-size: 1.2em;
    }
    
.main__studyPlan-work-button a{
    margin: 1.5em;
    padding: 1em 1.9em;
    background-color: white;
    border:1px solid #ebebeb;
    border-radius: 0.8em;
    box-shadow:   3px 3px 8px rgba(150,150,150,1);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: #333333;
    
}

}



@media all and (max-width:767px){
    .main_wrap{
        width: 100%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 1px 0px 2px -5px rgba(190,190,190,1), -1px 0px 15px -5px rgba(190,190,190,1);
    }
    .main__title-wrap{
        display: flex;
        justify-content: space-between;
        padding: 2em 2em 0em 2em;
    }
    .main__title-top > h2{
        margin: 0;
        color: #424043;
        padding-bottom: 0.1em;
        border-bottom:solid 2px #424043; 
        font-size: 1.3em;
    }
    .main__search{
        display: flex;
        
    }
    
    #search{
        border: none;
        width: 8em;
    }

    .main__serach-button{
        border: none;
        background-color: white;
        cursor: pointer;
    }

    .main__serach-button > i{
        color: #c1c1c1;
        font-size: 1.2em;
    }
    .main__studyPlan-work-button a{
        margin: 1em;
        padding: 1em 1.9em;
        background-color: white;
        border:1px solid #ebebeb;
        border-radius: 0.8em;
        box-shadow:   3px 3px 8px rgba(150,150,150,1);
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
        color: #333333;
        
    }
    
}