main{
    background-color: #EFECE8;
}
.main_wrap{
    width: 52.08%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 15px 0px 20px -5px rgba(190,190,190,1), -15px 0px 20px -5px rgba(190,190,190,1);
}
.main__title-wrap{
    display: flex;
    justify-content: space-between;
    padding: 2em 4em 0em;
}

.main__title{
    color: #847d74;
}
.main__title>h2{
    font-size: 1.5em;
}
select{
    border: 0;
}

.main__table-wrap {
    display: block;
    margin-top: 1em;
    padding: 1em;
}

.main__details-wrap{
    display: inline-flex;
    margin: 0em;
    border: 1px solid #cecece;
    box-shadow:   1px 1px 3px rgba(150,150,150,1);
    border-radius: 1em;
    color: #333333;
}
.main__details{
    padding: 0.5em 1em;
}
.main__details-members{
    margin: 0.5em 0.4em 0;
    font-size: 0.9em;
}
.main__details-tags > ul{
    display: flex;
    margin: 0.3em 0 0 0 ;
    padding: 0;
}
.main__details-tag-item{
    margin: 0.3em 0.3em;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 0.9em;
    color: #3e4042;
    background-color: rgb(235, 238, 243);
}

.main__table-wrap > table {
  width:85%;
  margin: 0 auto;
  border-collapse: collapse;
}



tr {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
}


.main__table th,.main__table td{
    padding: 0.8em 0;
}

.no {width: 6%;}
.writer {width: 22%;}
.date {width: 14%;}
.view { width: 14%;}

.main__writing{
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
}
.main__writing-button{
    padding: 0.3em 0.5em;
    border: 1px solid #d3d3d3;
    background-color: white;
    color: #333333;
    font-size: 0.87em;
    cursor: pointer;
}
.main__page-box{
    display: flex;
    justify-content: center;
}
.main__page-box-number{
    margin-bottom: 8em;
    color: red; 
}

@media all and (min-width:768px) and (max-width:1023px){

    .main_wrap{
        width: 60%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 15px 0px 20px -5px rgba(190,190,190,1), -15px 0px 20px -5px rgba(190,190,190,1);
    }
    .main__title-wrap{
        display: block;
        padding: 2em 3em 0em 3em;
    }
    .main__title{
        display: flex;
        margin: 0 0 0 0.2em;
        padding: 0;
    }
    .main__title> h2{
        margin: 0;
        padding-bottom: 0.1em;
        font-size: 1.5em;
    }
    .main__details-wrap{
        display: inline-flex;
        margin: 0em;
        margin-top: 1em;
        border: 1px solid #cecece;
        box-shadow:   1px 1px 3px rgba(150,150,150,1);
        border-radius: 1em;
        color: #333333;
    }
   
    .main__table-wrap > table {
        width:95%;
        margin: 0 auto;
        border-collapse: collapse;
      }

    .no {width: 9%;}
    .writer {width: 20%;}
    .date {width: 20%;}
    .view { width: 13%;}
    .main__writing{
        margin-right: 2.5em;
    }
    .main__page-box-number{
        margin-bottom: 5em;
        color: red; 
    }

}

@media all and (max-width:767px){
    .main_wrap{
        width: 100%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 1px 0px 2px -5px rgba(190,190,190,1), -1px 0px 15px -5px rgba(190,190,190,1);
    }
    .main__title-wrap{
        display: block;
        padding: 2em 3em 0em 3em;
    }
    .main__details-wrap{
        display: flex;
        margin: 0em;
        margin-top: 1em;
        border: 1px solid #cecece;
        box-shadow:   1px 1px 3px rgba(150,150,150,1);
        border-radius: 1em;
        color: #333333;
    }
    .main__title{
        display: flex;
        margin: 0 0 0 0.2em;
        padding: 0;
        padding-bottom: 0.1em;
        font-size: 1.3em;
    }
    .main__title > h2{
        margin: 0;
        padding-bottom: 0.1em;
        font-size: 1.2em;
    }
    .main__table-wrap{
        display: block;
        margin-top: 1em;
        padding: 1em;
    }
    .main__table-wrap > table {
        width:100%;
        margin: 0 auto;
        border-collapse: collapse;
    }
    .main__table th{
        display: none;
    }
    .no {width: 10%;}
    .writer {width: 25%;}
    .date {width: 25%;}
    .view { width: 15%;}
    .main__writing-button{
        padding: 0.6em 0.8em;
        border: 1px solid #d3d3d3;
        background-color: white;
        color: #333333;
        font-size: 0.9em;
        cursor: pointer;
    }
    .main__writing{
        margin-right: 1.8em;
    }
    .main__writing-button{
        padding: 0.3em 0.5em;
    }
    .main__page-box-number{
        margin-bottom: 3em;
        color: red; 
    }
  
}