main {
    background-color: #EFECE8;
}

.main_wrap {
    width: 52.08%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 15px 0px 20px -5px rgba(190,190,190,1), -15px 0px 20px -5px rgba(190,190,190,1);
}

.main__studyComplete {
    padding: 3em 3em;
}

.main__studyComplete-wrap {
    padding: 1em 2em;
    border: 1px solid #bebebe;
}

.main__studyComplete-title-wrap {
    display: flex;
    margin: 0.5em 0.5em 0;
}
.main__studyComplete-status-wrap{
    margin-top: 0.45em;
    margin-left: 1em;
}
.main__studyComplete-status{
    padding: 0.1em 0.5em;
    color: rgb(255, 255, 255);
    background-color: #ffa273;
    font-size: 1em;
    font-weight: 600;
}
.main__studyComplete-title > h2 {
    display: flex;
    position: relative;
    margin: 0;
    top: 0.3em;
    left: 2px;
}
.main__studyComplete-writer-wrap{
    position: relative;
}

.main__studyComplete-writer {
    position: absolute;
    bottom: 3px;
    right:10px;
    margin-right: 0.2em;
    font-size: 0.9em;
    color:#774226;
    font-weight: 600;
}
.main__studyComplete-tag-wrap{
    padding: 0.5em 0.6em 0;
}
.main__studyComplete-tag-wrap > ul{
    display: flex;
    padding: 0;
    margin: 0.2em -0.3em;
}
.main__studyComplete-tag-wrap > ul > li{
    display: flex;
    height: 23px;
   margin: 0em 0.3em;
  padding: 0.2em 0.5em 0.1em;
  border-radius: 0.3em;
  font-weight: 500;
  font-size: 0.9em;
  color: #3e4042;
  background-color: rgb(235, 238, 243);
}
.main__studyComplete-details-wrap{
    font-size: 0.93em;
    padding: 0 0.6em;
    color: #606060;
}

.main__studyComplete-details-duration{
    margin: 2em 0;
}

.main__studyComplete-details-explanation{
    margin: 0 0 3em 0;
}

.main__studyComplete-number-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.93em;
    padding: 0 0.6em;
}
.main__studyComplete-number-apply{
    margin-bottom: 1.5em;
    padding: 0.7em 1.5em;
    border-radius: 0.7em;
    background-color: #afafaf;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}
.main__studyComplete-number{    
    margin-bottom: 2em;
    font-size:0.9em;
    font-weight: bold;
    color: #7c7c7c;

}
.partition{
    width: 100%;
    margin-top: 1.5em;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.main__studyComplete-number-apply:hover{
    background-color:#bdbdbd;
}
.comment_title{
    margin: 1em 1em 0.7em;
    font-size: 1.1em;
    font-weight: bold;

}
.comment_container{
    width: 90%;
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
    border: 2px solid #c9c9c9;
    border-radius: 0.6em;
}
.comment_writer{
    margin-bottom: 0.7em;
    font-size: 0.9em;
    font-weight: bold;
    color: #383838;
}
textarea{
    width: 100%;
    border: none;
    font-family: sans-serif;
    resize: none;
}
textarea::placeholder{
    color: #bebebe;
}
.comment_submit_wrap{
    display: flex;
    justify-content: end;
}
.comment_submit{
    padding: 0.3em 0.8em;
    border: none;
    background-color: #e9e9e9;
    border-radius: 0.5em;
    color: #6e6e6e;
    font-size:0.82em;
    font-weight: bold;
    cursor: pointer;
}
.applicant{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 0.96em;
    color: #ffa273;
    font-weight: bold;
    cursor: pointer;
}
.applicant:hover{
    color: #ffcaaf;
}
.applicant_icon{
    margin-left: 0.3em;
}
.openedStudy__openTable{
    display: flex;
    justify-content: center;
}

.openedStudy__table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 0 auto;
    
}

.openedStudy__table thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ffe5d6;
  }
.openedStudy__table tbody th {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
     font-size: 0.95em;
  }
  
.openedStudy__table td {
    width: 120px;
    padding-top: 0.7em;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 0.95em;
  }
.openedStudy__table td > button{
    margin: 0 0.3em;
    padding: 0.3em 0.8em;
    border: none;
    border-radius: 0.5em;
    color: #424043;
    font-weight: bold;
    font-size: 0.85em;
    cursor: pointer;
}
.accept{
    background-color: #b8ff8f;
    
}
.reject{
    background-color: #ffb9b9;
}
.openedStudy__table--name{
    width: 15%;
}
.openedStudy__table--clubNum{
    width: 13%;
}
.openedStudy__table--applyDate{
    width: 20%;
}
.view_container{
    margin-left: 1.3em;
}
.view_writer{
    margin-left: 0.5em;
    margin-bottom: 0.4em;
    font-size: 0.9em;
    font-weight: bold;
    color: #383838;
}
.view_comment{
    margin-left: 0.5em;
    color: #424242;
}
.comment_partition{
    margin-top: 0.5em;
    width: 98%;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.view_info{
    margin: 0.4em 0.5em;
    color: grey;
    
}
.view_info > ul{
    display: flex;
}
.view_info > ul > li{
     margin-right: 0.7em;
     font-size: 0.87em;
     cursor: pointer;
}
.view_info > ul > li:hover{
    color: rgb(180, 180, 180);
}

@media all and (min-width:768px) and (max-width:1023px) {
    .main_wrap{
        width: 60%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 15px 0px 20px -5px rgba(190,190,190,1), -15px 0px 20px -5px rgba(190,190,190,1);
    }
    .comment_container{
    width: 86%;
    padding: 1em;
    margin-left: 0.78em;
    border: 2px solid #c9c9c9;
    border-radius: 0.6em;
}

.openedStudy__table{
    font-size: 0.8em;
}
.openedStudy__table tbody th{
    padding: 0.6em;
}
.openedStudy__table td{
    padding-top: 0.6em;
}
.openedStudy__table td > button{
   margin-bottom: 0.5em;
    padding: 0.5em 0.4em;
    border: none;
    border-radius: 0.5em;
    color: #424043;
    font-weight: bold;
    font-size: 0.8em;
}
    
}

@media all and (max-width:767px) {
    .main_wrap{
        width: 100%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 1px 0px 2px -5px rgba(190,190,190,1), -1px 0px 15px -5px rgba(190,190,190,1);
    }

    .main__studyComplete {
        padding: 3em 1em;
    }
    .comment_title{
    margin: 1em 1em 0.8em;
    font-size: 1.1em;
    font-weight: bold;

}
.comment_container{
    width: 86%;
    padding: 1em;
    margin-left: 0.9em;
    border: 2px solid #c9c9c9;
    border-radius: 0.6em;
}

.openedStudy__table{
    font-size: 0.8em;
}
.openedStudy__table tbody th{
    padding: 0.5em;
}
.openedStudy__table td{
    padding-top: 0.5em;
}
.openedStudy__table td > button{
    margin-bottom: 0.5em;
    padding: 0.5em 0.4em;
    border: none;
    border-radius: 0.5em;
    color: #424043;
    font-weight: bold;
    font-size: 0.8em;
}
    
}
