
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common-layout">

<th:block layout:fragment="contentStyle">
    <link rel="stylesheet" th:href="@{/styles/default/default.css}" >
</th:block>

<div layout:fragment="content">
   welcome~ 반가워요
    <button th:onclick="|location.href = '@{/login}'|"> 로그인 </button>
    <button th:onclick="|location.href = '@{/sign-up}'|"> 회원가입 </button>
    <button th:onclick="|location.href = '@{/study}'|"> 스터디 </button>
    <button th:onclick="|location.href = '@{/admin}'|"> 운영자 </button>
    <button th:onclick="|location.href = '@{/form}'|"> 지원서 </button>
</div>

<th:block layout:fragment="contentScript">
    <script th:src="@{/scripts/default/default.js}"></script>
</th:block>
</html>