@charset "UTF-8";

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0 0;
  list-style: none;
}

h1 {
  margin: 0;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #eae8e2;
}

.article__inner {
  width: 450px;
  text-align: center;
  margin-bottom: 50px;
}

.article__boxDeco {
  width: 50%;
  position: relative;
  top: 10px;
}

.article__boxTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #f6f6f4;
  background-color: #847d74;
}

.article__boxList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  margin: 0;
  box-shadow: 0 0 20px #9e9e9e;
  background-color: white;
}

input:not(.boxList__infor--submit) {
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #9e9e9e;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 2px #9e9e9e;
}

input:focus::placeholder {
  color: transparent;
}
.article__boxList input {
  margin: 3em;
  margin-left: 3em;
}
.box {
  margin: 1.5em;
  padding-right: 1.5em;
}

.boxList__infor--submit {
  position: relative;
  left: 20px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #a39595;
  background-color: #9e9e9e;
  font-size: 16px;
  color: white;
}

.boxList__infor--submit:hover {
  border: 1px solid #c1c1c1;
  background-color: #c1c1c1;
}

.boxList__infor > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 450px;
}

.boxList__controls {
  display: flex;
  justify-content: space-evenly;
}

.fa-arrow-left:hover {
  color: #847d74;
}
.input-container {
  width: 70%;
}
.fa-arrow-right:hover {
  color: #847d74;
}
.button {
  margin: 3em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .article {
    height: 600px;
  }

  .article__inner {
    width: 380px;
    margin-bottom: 50px;
  }

  .article__boxDeco {
    top: 10px;
  }

  .article__boxTitle {
    height: 80px;
  }

  .article__boxTitle h1 {
    font-size: 1.313rem;
  }

  .article__boxList {
    height: 320px;
    margin: 0;
  }

  .boxList__infor > li {
    width: 380px;
  }
  .button {
    margin: 3em;
    margin-left: 3em;
  }
  .article__boxList input {
    margin: 2em;
    margin-left: 2em;
  }
  .box {
    margin: 0.3em;
    padding-right: 0.3em;
  }

  .boxList__infor--submit {
    position: relative;
    left: 40px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #a39595;
    background-color: #9e9e9e;
    font-size: 16px;
    color: white;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .article {
    width: 100%;
    height: 600px;
  }

  .article__inner {
    width: 350px;
    margin-bottom: 50px;
  }

  .article__boxDeco {
    top: 10px;
  }

  .article__boxTitle {
    height: 80px;
    color: white;
    background-color: #847d74;
  }

  .article__boxTitle h1 {
    font-size: 1.125rem;
  }

  .article__boxList {
    height: 360px;
    margin: 0;
    box-shadow: 0 0 20px #9e9e9e;
    background-color: white;
  }
  .article__boxList input {
    margin: 2em;
    margin-left: 2em;
  }
  .box {
    margin: 0.4em;
    padding-right: 0.4em;
  }

  .boxList__infor--submit {
    position: relative;
    left: 35px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #a39595;
    background-color: #9e9e9e;
    font-size: 16px;
    color: white;
  }
}
